.dashboard-container {
  background-color: #f5f5f5;
  padding: 20px;
}

.widget {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  position: relative;
}

.widget-remove {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: red;
}

.widget-handle {
  cursor: move;
  padding: 10px;
  background-color: #4a90e2;
  color: white;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* Add this to your CSS file */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.pulsating-logo {
  width: 50px; /* Adjust the size as needed */
  height: 50px; /* Adjust the size as needed */
  background-color: #4CAF50; /* Replace with your logo's color or background */
  border-radius: 50%; /* To make it circular */
  display: inline-block;
  animation: pulse 1.5s infinite ease-in-out;
}

