@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 156.2 100% 95%;
    --foreground: 156.2 5% 10%;
    --card: 156.2 50% 90%;
    --card-foreground: 156.2 5% 15%;
    --popover: 156.2 100% 95%;
    --popover-foreground: 156.2 100% 10%;
    --primary: 156.2 71.6% 66.9%;
    --primary-foreground: 0 0% 0%;
    --secondary: 156.2 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 118.19999999999999 30% 85%;
    --muted-foreground: 156.2 5% 35%;
    --accent: 118.19999999999999 30% 80%;
    --accent-foreground: 156.2 5% 15%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 156.2 5% 90%;
    --border: 156.2 30% 50%;
    --input: 156.2 30% 26%;
    --ring: 156.2 71.6% 66.9%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 156.2 50% 10%;
    --foreground: 156.2 5% 90%;
    --card: 156.2 50% 10%;
    --card-foreground: 156.2 5% 90%;
    --popover: 156.2 50% 5%;
    --popover-foreground: 156.2 5% 90%;
    --primary: 156.2 71.6% 66.9%;
    --primary-foreground: 0 0% 0%;
    --secondary: 156.2 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 118.19999999999999 30% 25%;
    --muted-foreground: 156.2 5% 60%;
    --accent: 118.19999999999999 30% 25%;
    --accent-foreground: 156.2 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 156.2 5% 90%;
    --border: 156.2 30% 26%;
    --input: 156.2 30% 26%;
    --ring: 156.2 71.6% 66.9%;
    --radius: 0.5rem;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.widget-handle {
  cursor: move;
  padding: 10px;
  background-color: #4a90e2;
  color: white;
  border-radius: 5px;
  margin-bottom: 10px;
}

.react-grid-item.react-grid-placeholder {
  background-color: rgba(84, 84, 84, 0.687) !important;
  border-radius: 8px !important; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
  border: none !important;
}

.grid-item {
  transition: all 0.2s ease;
}

.grid-item-placeholder {
  background-color: rgba(0, 0, 255, 0.2);
}

@keyframes vibrate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(0eg);
  }
  75% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.vibrate {
  animation: vibrate 0.2s linear infinite;
}

@keyframes vibrate_small {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(1.5px, 1.5px) rotate(1deg);
  }
  50% {
    transform: translate(0, 0) rotate(0eg);
  }
  75% {
    transform: translate(-1.5px, -1.5px) rotate(-1deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}

.vibrate_small {
  animation: vibrate_small 0.6s linear infinite;
}
